<h1>Entrance#index</h1>

<p><%= link_to "Sign-in with Tumblr", user_omniauth_authorize_path(:tumblr) %></p>
<p><%= link_to "Login", new_user_session_path %>

<p><%= link_to "Signout", destroy_user_session_path, method: :delete %></p>
