<div class="post answer">
    <div class="post-icon">
        <%= fa_icon 'question' %>
    </div>
    <div class="post-content">
        <p><b><%= post['asking_name'] %> asked : <%= post['question'] %></b></p>
        <%== post['answer'] %>
    </div>
</div>
