<div class="post video">
    <div class="post-icon">
        <%= fa_icon 'video-camera' %>
    </div>
    <div class="post-content">
        <%== post['player'][2]['embed_code'] %>
    </div>
    <div class="detailed-information">
        <%== post['caption'] %>
    </div>
</div>
