<div class="post quote">
    <div class="post-icon">
        <%= fa_icon 'quote-left' %>
    </div>
    <div class="post-content">
        <%== post['text'] %>
    </div>
    <div class="detailed-information">
        <%== post['source'] %>
    </div>
</div>
