<div class="post text">
    <div class="post-icon">
        <%= fa_icon 'font' %>
    </div>
    <div class="post-content">
        <h3><%= post['title'] %></h3>
        <%== post['body'] %>
    </div>
</div>
