<div class="post chat">
    <div class="post-icon">
        <%= fa_icon 'weixin' %>
    </div>
    <div class="post-content">
        <h3><%= post['title'] %></h3>
        <% @logs = post['dialogue'] %>
        <% if @logs.present? %>
            <% @logs.each do |log| %>
                <p>
                    <b><%= log['name'] %></b> : <%= log['phrase'] %>
                </p>
            <% end %>
        <% end %>
    </div>
</div>
