<div class="post photo">
    <div class="post-icon">
        <%= link_to post['post_url'] do %>
            <%= fa_icon 'camera' %>
        <% end %>
    </div>
    <div class="post-content">
        <% @photos = post['photos']
        @photos.each do |photo| %>
        <%= image_tag photo['original_size']['url'] %>
    <% end %>
    </div>
    <div class="detailed-information">
        <%== post['caption'] %>
    </div>
</div>
