<nav class="navbar navbar-right">
    <ul>
        <li><%= fa_icon 'random' %></li>
        <li><%= fa_icon 'cog' %></li>
        <li><%= link_to destroy_user_session_path, method: :delete do %>
            <%= fa_icon 'sign-out' %>
        <% end %></li>
    </ul>
</nav>

