<nav class="navbar">
    <ul>
        <li><%= image_tag client.avatar(blogs[0]['name']) %></li>
        <!-- <li><span id="icon-selected-blog"></span><i data-tools="dropdown" data-target="#list-blog"  class="fa fa-angle-down" ></i></li>  -->
    </ul>
</nav>
<ul id="list-blog" class="dropdown">
    <li><a href="#">hoge</a></li>
    <li><a href="#">fuga</a></li>
    <li><a href="#">piyo</a></li>
    <li><a href="#">hoge</a></li>
    <li><a href="#">fuga</a></li>
    <li><a href="#">piyo</a></li>
</ul>
