.navbar.navbar-right li {
    margin-left: 1em;
}

ul#cog-dropdown.dropdown {
    color: #404347;
    font-size: 14px;

    span, a {
        display: block;
        padding: 0.5em 1em;
    }
}

#contents-area {
    width: 532px;
    margin: 0 auto;
    padding: 1em 0;
}

footer {
    padding: 1em;
    .bottom-bar {
        font-size: 1.8em;
        padding-right: 1em;
        text-align: center;

        a:link, a:hover, a:visited {
            color: #aeaeae;
            decoration: none;
        }

    }
}
