nav.navbar {
    height: 2em;
    margin: 0;
}

.navbar.navbar-right li
{
    margin-left: 1em;
}

span#icon-selected-blog {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.4em;
    border-radius: 0.2em;
    background-image: image-url("icon3_emacs.png");
    Background-size: cover;
    float: left;
}

ul#list-blog {
    font-size: 12px;
    border-radius: 0.4em;
}

#contents-area {
    width: 540px;
    margin: 0 auto;
}

footer {
    padding: 1em;
}
